* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-main: "Poppins", sans-serif;
  --font-color: white;
  --foreground-rgb: 0, 0, 0;
  --background: black;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --font-h1: 5rem;
}
