.header {
  height: 80vh;
  width: 100%;
  padding: 0 20rem;
  background: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.header__title{ 
  font-size: var(--font-h1);
  font-weight: 200;
}